@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: max-content;

    margin: 0;
    padding: 0;

    background-color: black;

    overflow-x: hidden;
}

.landingarea {
    display: grid;

    grid-template-rows: 2fr 4fr 1fr;

    width: 100%;
    height: 100vh;

    scroll-snap-align: start;
}

.avatarsection {
    display: flex;

    justify-content: center;
    align-items: top;

    width: 100vw;
    height: 100%;
}

.avatar {
    display: flex;

    justify-content: center;
    align-items: center;

    z-index: 2;

    width: 30vmin;
    height: 30vmin;

    border-radius: 100%;
}

.avimg {
    z-index: 3;
    width: 17vmin;
    height: 23vmin;
}

@media only screen and (max-width: 800px) {
    .avatar {
        width: 30vh;
        height: 30vh;
    }

    .avimg {
        width: 15vh;
        height: 21vh;
    }
}

.arrowcontainer {
    position: absolute;
    bottom: 25vmin;

    left: 50%;
    transform: translate(-50%, 0);

    height: 2vmin;
    width: 15vmin;
}

.fl {
    display: flex;

    justify-content: space-between;
}

.allb {
    font-family: 'JetBrains Mono', monospace;

    padding-left: 2rem;
    padding-right: 2rem;

    border-radius: 0.5rem;
}

.statssection {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100vw;

    margin-bottom: 2rem;
}

@media only screen and (max-width: 100px) {
    .allb {
        width: 80vw;
    }
}

@media only screen and (max-width: 800px) {
    .allb {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 800px) {
    .allb {
        display: flex;
        flex-direction: row;
        gap: 2rem;
      }
}

.ico {
    filter: invert(1);
}

.titlesection {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100%;
}

.title {
    z-index: 2;
    font-family: 'JetBrains Mono', monospace;
    font-size: 5vh;

    width: max-content;
}

/* NEXT AREA SPLIT */

.projectsarea {
    display: grid;

    width: 100vw;

    min-height: 100vh;

    grid-template-rows: 1fr 10fr;

    scroll-snap-align: start;
}

.projectstitle {
    display: flex;

    justify-content: left;
    align-items: center;

    width: 100vw;
    height: 100%;

    padding-left: 7rem;
    padding-top: 2rem;
}

p {
    word-break: break-word;
    white-space: pre-wrap;
}

a:link {
    text-decoration: none;
}

.link {
    padding-top: 1rem;

    text-decoration: none;
    color: rgb(186, 186, 186);
}

.projectscontents {
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: repeat(max-content, 5);

    gap: 2rem;

    padding-left: 7rem;
    padding-right: 7rem;

    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media only screen and (max-width: 800px) {
    .projectscontents {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .projectstitle {
        padding-left: 2rem;
    }
}

.ptitle {
    display: flex;

    font-family: 'JetBrains Mono', monospace;
    font-size: 3.5vh;
    color: white;
}

.project {
    display: flex;

    flex-direction: column;

    width: 100%;
    height: 100%;

    padding: 1rem;

    font-family: 'JetBrains Mono', monospace;
    color: white;

    background-color: rgb(31, 31, 31);
    border-radius: 0.5rem;
}

.projecttitle {
    width: 100%;

    border-bottom: 1px solid white;
    margin-bottom: 1rem;

    font-size: 2.5vh;
}

.chips {
    display: flex;

    padding-top: 1rem;

    gap: 0.5rem;
}

.chip {
    width: max-content;

    background-color: rgb(56, 56, 56);

    padding-left: 0.75rem;
    padding-right: 0.75rem;

    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

    border-radius: 999em;
}

.finalarea {
    display: grid;

    grid-template-rows: 2fr 20fr;

    width: 100vw;
    height: 100vh;
}

.finaltitle {
    padding-top: 2rem;
    padding-left: 7rem;
}

@media only screen and (max-width: 800px) {
    .finaltitle {
        padding-left: 2rem;
    }
}

.ftitle {
    display: flex;

    font-family: 'JetBrains Mono', monospace;
    font-size: 3.5vh;
    color: white;
}
.contact {
    display: flex;

    flex-direction: column;

    width: 50vw;
    height: 100%;

    padding-bottom: 2rem;

    gap: 5vh;

    color: white;

    font-weight: bold;
}

.contactcontainer {
    padding-left: 14rem;
    padding-top: 7em;
}

@media only screen and (max-width: 800px) {
    .contactcontainer {
        padding-left: 4rem;
    }
}