.projectsarea {
    display: grid;

    grid-template-rows: 1fr 10fr;

    width: 100vw;
    min-height: 100vh;
}

.projectstitle {
    display: flex;

    justify-content: left;
    align-items: center;

    width: 100vw;
    height: 100%;

    padding-left: 7rem;
    padding-top: 2rem;
}

.link {
    color: rgb(186, 186, 186);
    text-decoration: none;

    padding-top: 1rem;
}

.projectscontents {
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: repeat(max-content, 5);

    gap: 2rem;

    padding-left: 7rem;
    padding-right: 7rem;

    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media only screen and (max-width: 800px) {
    .projectscontents {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .projectstitle {
        padding-left: 2rem;
    }
}

.ptitle {
    display: flex;

    color: white;

    font-family: 'JetBrains Mono', monospace;
    font-size: 3.5vh;
}

.project {
    display: flex;

    flex-direction: column;

    width: 100%;
    height: 100%;

    padding: 1rem;

    color: white;

    font-family: 'JetBrains Mono', monospace;
    background-color: rgb(31, 31, 31);
    border-radius: 0.5rem;
}

.projecttitle {
    width: 100%;

    border-bottom: 1px solid white;
    margin-bottom: 1rem;

    font-size: 2.5vh;

    color: #ca859e;
}

.chips {
    display: flex;

    padding-top: 1rem;

    gap: 0.5rem;
}

.chip {
    width: max-content;

    background-color: rgb(56, 56, 56);

    padding-left: 0.75rem;
    padding-right: 0.75rem;

    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

    border-radius: 999em;

    color: rgb(165, 56, 56);
}